

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    background:url(../images/bgImage2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#canvas
{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
}

.text{
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;

}